.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: "aside  main"
                       "footer  footer";
  grid-template-rows: 1fr 200px;
  grid-template-columns: 150px 1fr;
}

aside {
  grid-area: aside;
  background-color: #ffa08c;
}

main {
  grid-area: main;
  background-color: #ffff64;
}

footer {
  grid-area: footer;
  background-color: #8cffa0;
}
